body {
    margin: 3rem;
}

main {
    min-height: 80vh;
}

form {
    margin: 3rem 0rem;
}

.coloreado {
    color: maroon;
    background-color: bisque;
}

ul>li>span{ padding: 0rem 2rem;}
ul {
    list-style: none;
}

li {
    padding: 1rem;
    margin: 1rem;
}

.boton {cursor: pointer;}

.acabado {
    text-decoration: line-through;
    font-style: italic;
    color: darkslategray;
}