body {
    margin: 0rem;
}

.header-wrapper,
.footer-wrapper {
    background-color: maroon;
    color: bisque;
}

.header-wrapper .row,
.footer-wrapper .row {
    min-height: 15vh;
}

main {
    min-height: 60vh;
}